<h1 class="mt-5 w-50 mx-auto text-center">新規登録画面</h1>
<div id="sign">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <!-- 名前 -->
        <%= f.label :name,"ユーザー名" %><br />
        <%= f.text_field :name, autofocus: true %>
        <!-- 電話番号 -->
        <%= f.label :phone_number,"電話番号" %><br />
        <%= f.text_field :phone_number, autofocus: true %>
        <!-- メールアドレス -->
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <!-- パスワード -->
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <!-- パスワード確認 -->
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

        <%= f.submit "新規登録" %>
    <% end %>

    <%= render "devise/shared/links" %>
</div>