<h1 class="mt-5 mb-4">いいねした投稿一覧</h1>
<% @favorites.each do |favorite| %>
    <div class="row">
        <div class="col-lg-10 mb-2 mx-auto">
            <% if favorite.post.user_id == current_user.id %>
                <%= attachment_image_tag favorite.post.user, :profile_image, :fill, 100,100, format: "jpeg", fallback: "no_image.jpg",size:100 ,class: "current_user_image" %>
            <% else %>
                <%= attachment_image_tag favorite.post.user, :profile_image, :fill, 100,100, format: "jpeg", fallback: "no_image.jpg",size:100 ,class: "user_image" %>
            <% end %>
            <%= link_to favorite.post.user.name,user_path(favorite.post.user.id) %>
            <p class="mt-2"><%= favorite.post.created_at.strftime("%Y/%m/%d") %>の投稿</p>
        </div>
        <div class="col-lg-10 mb-3 mx-auto">
            <!-- 投稿動画表示 -->
            <%= video_tag favorite.post.video.url, width: "100%",loop: true,muted: true,controls: true,poster: attachment_url(favorite.post, :image, format: "jpg") unless favorite.post.video.blank? %><br>
        </div>
        <div class="col-lg-10 mb-5 mx-auto">
            <%= link_to favorite.post.title,post_path(favorite.post.id) %>
            <!-- コメント数 -->
            <span class="float-right">
                <%= render "user/comments/count",post: favorite.post %>
            </span>
            <!-- いいね機能 -->
            <span id="favorite-<%= favorite.post_id %>" class="float-right">
                <%= render "user/favorites/favorite",post: favorite.post %>
            </span>
        </div>
    </div>
<% end %>