<div class="post-index">
<h1>いいねした投稿一覧</h1>
  <% @favorites.each do |favorite| %>
    <!-- 投稿動画表示 -->
    <%= video_tag favorite.post.video.url, width: "1100px",loop: true,muted: true,controls: true,poster: attachment_url(favorite.post, :image, :fill, 1100, 600, format: "jpg") unless favorite.post.video.blank? %><br>
    <%= favorite.post.user.name %>
    <%= favorite.post.title %>
  <!-- いいね機能 -->
    <span id="favorite-<%= favorite.post_id %>">
      <%= render "user/favorites/favorite",post: favorite.post %>
    </span>
  <!-- コメント数 -->
    <%= render "user/comments/count",post: favorite.post %><br>

  <% end %>
</div>