<% if @user.id == current_user.id %>
  <div class="user-infomation">
    <h1>マイページ</h1>
    <%= attachment_image_tag current_user, :profile_image, :fill, 100,100, format: "jpeg", fallback: "no_image.jpg",size:100 ,class: "current_user_image" %>
    <!-- 名前/フォロー・フォロワー数/自己紹介文/編集ボタン -->
    <div id="relationship-<%= current_user.id %>">
      <%= render "user/relationships/relationship",user: current_user %>
    </div>
  </div>
  <!-- 投稿一覧 -->
    <div class="post-index">
      <%= render @posts %>
    </div>
<% else %>
  <div class="user-infomation">
    <h1><%=@user.name%>さんのページ</h1>
    <%= attachment_image_tag @user, :profile_image, :fill, 100,100, format: "jpeg", fallback: "no_image.jpg",size:100 ,class: "user_image" %>
    <!-- 名前/フォロー・フォロワー数とボタン/自己紹介文/ -->
    <div id="relationship-<%= @user.id %>">
      <%= render "user/relationships/relationship",user: @user %>
    </div>
  </div>
  <!-- 投稿一覧 -->
    <div class="post-index">
      <%= render partial: "user/posts/post", collection: @user.posts %>
    </div>
<% end %>