<% if @user.id == current_user.id %>
  <h1>マイページ</h1>
  <%= current_user.name %>
  <%= link_to "#{current_user.followings.count}人",follows_user_path(current_user.id) %>
  <%= link_to "#{current_user.followers.count}人",followers_user_path(current_user.id) %>
  <%= current_user.introduction %>
  <%= link_to "ユーザー情報を編集する",edit_user_path(current_user.id) %><br>

  <h2>投稿一覧</h2>
  <!-- 投稿一覧 -->
  <%= render @posts %>

<% else %>

  <h1><%= attachment_image_tag @user, :profile_image, :fill, 50,50, format: "jpeg", fallback: "no_image.jpg",size:50 ,class: "user_image" %>
    <%=@user.name%>さんのページ
  </h1>
  <%= @user.name %>

  <!-- フォロー/フォロワー数とボタン -->
  <div id="relationship-<%= @user.id %>">
    <%= render "user/relationships/relationship",user: @user %>
  </div>

  <%= @user.introduction %>

  <h2>投稿一覧</h2>
  <!-- 投稿一覧 -->
  <%= render partial: "user/posts/post", collection: @user.posts %>

<% end %>