<!-- 都道府県検索ボックス -->
<div id="search_button" class="btn btn-outline-light mt-3 mb-3">都道府県で絞り込む</div>
<div class="prefecture_lists"><%= render "user/homes/prefecture_box",prefectures: @prefectures %></div>
<%= javascript_include_tag("prefecture_search.js") %>
<!-- 投稿並び替え機能 -->
<div class="sort-search" >
	<%= form_with url:"/",method: :get,local: true do |f| %>
		<div class="btn-group mb-4">
			<%= f.select :sort_select,[["新着順","新着順"],["いいね数順","いいね数順"],["コメント数順","コメント数順"]], {include_blank: '並び替え'} ,style: "width: 85px;"%>
			<%= f.text_field :word_search, placeholder: "検索ワード入力", class: "form-control", style: "width: 140px;" %>
			<%= f.submit "検索する",class: "btn btn-outline-info" %>
		</div>
	<% end %>
</div>
<!-- 投稿一覧 -->
<div id="post_lists-2"><%= render "user/posts/post2",posts: @posts %></div>
<div class="more">
	<%= link_to_next_page @posts, 'さらに読み込む', remote: true, id: 'view_more',class: "btn btn-outline-light w-100 mt-3 mb-3" %>
</div>