<div class="post-index-contents">
		<%= attachment_image_tag post.user, :profile_image, :fill, 50,50, format: "jpeg", fallback: "no_image.jpg",size:50 ,class: "user_image" %>

	<!-- 投稿動画表示 -->
	<%= video_tag post.video.url, width: "300px", height: "300px",loop: true,autoplay: true,muted: true unless post.video.blank? %><br>

	<%= link_to post_path(post.id) do %>
		<%= post.title %>
	  	<%= post.body %>
	<% end %>

	<!-- お気に入り機能 -->
	<i class="fas fa-star" aria-hidden="true" style="color: yellow;"></i>
        <%= post.favorites.count %>
	<!-- コメント数 -->
	<%= render "user/comments/count",post: post %><br>
</div>