<h1 class="mt-5 mb-4">投稿詳細</h1>
<div class="row  pb-5">
	<div class="col-lg-10 mx-auto">
		<div class="row">
			<% if @post.user_id == current_user.id %>
				<%= attachment_image_tag @post.user, :profile_image, :fill, 100,100, format: "jpeg", fallback: "no_image.jpg",size:100 ,class: "current_user_image mb-3" %>
			<% else %>
				<%= attachment_image_tag @post.user, :profile_image, :fill, 100,100, format: "jpeg", fallback: "no_image.jpg",size:100 ,class: "user_image mb-3" %>
			<% end %>
			<p class="col-log-1 pl-5 mr-5 pt-4"><%= link_to @post.user.name,user_path(@post.user.id),style: "font-size: 30px; text-decoration: none; color: #DDDDDD;" %>&emsp;
			<%= @post.created_at.strftime("%Y/%m/%d") %>の投稿</p>
		</div>
	</div>
	<div class="col-lg-10 mx-auto">
		<%= video_tag @post.video.url, width: "100%",loop: true,controls: true,muted: true unless @post.video.blank? %><br>
	</div>
	<div class="col-lg-10 mx-auto">
		<!-- お気に入り機能 -->
		<span id="favorite-<%= @post.id %>">
		   <%= render "user/favorites/favorite",post: @post %>
		</span>
		<!-- コメント数 -->
		<%= render "user/comments/count",post: @post %>
	</div>
	<div class="col-lg-10 mx-auto">
		<h2 class="mt-4">[タイトル]</h2>
		<%= @post.title %>
		<h2 class="pt-3">[詳細]</h2>
		<%= @post.body %>
		<% if @post.user_id == current_user.id %>
		  	<%= link_to "編集する",edit_post_path(@post.id) %>
		  	<%= link_to "削除",post_path(@post.id),method: :delete %>
		<% end %>
	</div>
	<div class="col-lg-10 mx-auto">
		<div class="row pl-5">
			<!-- コメント機能 -->
			<h2 class="col-lg-12 mt-5 mb-3"><%= @comments.count %>件のコメント</h2>
			<div class="col-lg-3" id="comment"><%= render @comments %></div>
			<div class="col-lg-3 ml-5">
				<h2>コメント送信フォーム</h2>
				<%= form_with model:[@post,@comment],url:post_comments_path(@post.id),method: :post,remote: true,class: "text-left" do |f| %>
			    	<%= f.text_area :comment,class: "w-50" %><br>
			    	<%= f.submit "コメントを投稿する",class: "btn btn-outline-light w-50" %>
				<% end %>
			</div>
			<div class="col-lg-4">
				<!-- 旅先の地図を表示 -->
				<h2>撮影地の地図</h2>
				<div id="map" data-address-id="<%= @post.destination %>" style="width: 100%; height: 70%;"></div>
				<%= javascript_include_tag('map.js') %>
			</div>
		</div>
	</div>
</div>