<div class="user-infomation">
    <h1><%=@user.name%>さんのページ</h1>
    <%= attachment_image_tag @user, :profile_image, :fill, 100,100, format: "jpeg", fallback: "no_image.jpg",size:100 ,class: "user_image" %>

    <h1>ユーザー情報編集</h1>
    <%= form_with model: @user,url:user_path(@user.id),method: :patch, local: true do |f| %>

      <div class="field">
        <%= f.label :name,"ユーザー名" %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :introduction,"自己紹介文" %><br />
        <%= f.text_area :introduction, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :phone_number,"電話番号" %><br />
        <%= f.text_field :phone_number, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "登録情報を更新" %>
      </div>
    <% end %>
    <td><%= link_to "ユーザーを削除する",admin_user_path(@user.id) %></td>
</div>
  <!-- 投稿一覧 -->
<div class="post-index">
    <div class="post-index">
        <%= render "admin/posts/post",posts: @user.posts %>
    </div>
</div>