<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
<span>
	<%= link_to user_path(visitor.id) do %>
		<%= visitor.name %>
	<% end %>
	<%= "さんが" %>

	<% case notification.action %>
		<% when "follow" then %>
			<%= "あなたをフォローしました" %>
		<% when "favorite" then %>
			<%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
			<%= "をお気に入りリストに追加しました" %>
		<% when "comment" then %>
			<% if notification.post.user_id == visited.id %>
				<%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
			<% else %>
				<%= link_to post_path(notification.post.id) do %>
					<%= notification.post.user.name + "さんの投稿" %>
				<% end %>
			<% end %>
			<%= "にコメントしました" %>
			<span><%= time_ago_in_words(notification.created_at).upcase %>前
			</span><br>
			<span><%= notification.comment.comment %></span>
	<% end %>
</span>
</div>