<!-- ヘッダー -->
<header class="fixed-top row">
    <!-- 管理者 -->
    <% if admin_signed_in? %>
        <h2 class="ml-5 mt-4">管理者</h2>
        <%= link_to "退出",destroy_admin_session_path,method: :delete,class: "btn btn-danger" %>
    <!-- ログインユーザー -->
    <% elsif user_signed_in? %>
        <%= link_to user_path(current_user.id),class:"col-4 pl-5" do %>
            <%= attachment_image_tag current_user, :profile_image, size: 70, format: "jpeg", fallback: "no_image.jpg",size:70 ,class: "user_image mt-2
            " %>
        <% end %>
        <h1 class="col-4 text-center mt-2"><%= link_to "Tripper", root_path%></h1>
        <div class="nav-item dropdown col-4 text-center pt-5">
            <a class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-expanded="false">メニュー</a>
            <div class="dropdown-menu">
                <%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: "dropdown-item" %>
                <%= link_to "Tripperについて",about_path, class: "dropdown-item" %>
                <%= link_to "マイページ",user_path(current_user.id), class: "dropdown-item" %>
                <%= link_to "ユーザーを探す",user_search_path, class: "dropdown-item" %>
                <%= link_to "トップへ",root_path, class: "dropdown-item" %>
            </div>
        </div>
    <% else %>
        <div class="col-4 text-center mt-3">
            <h2 style="font-size: 2.0vw">ようこそゲストユーザー様</h2>
            <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
                <span style="font-size: 1vw">ログインして旅先を動画でシェア!!</span>
            <% end %>
        </div>
        <h1 class="col-4 text-center mt-2"><%= link_to "Tripper", root_path %></h1>
        <div class="nav-item dropdown col-4 text-center pt-5">
            <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" style="margin-right: 50px;">メニュー</a>
            <div class="dropdown-menu">
                <%= link_to "ログイン",new_user_session_path, class: "dropdown-item" %>
                <%= link_to "新規登録",new_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Tripperについて",about_path, class: "dropdown-item" %>
                <%= link_to "トップへ",root_path, class: "dropdown-item" %>
            </div>
        </div>
    <% end %>
</header>