<!DOCTYPE html>
<html>
    <head>
        <title>Tripper</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/168debbf27.js" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- bootstrap4導入(CDN) -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Googlefont -->
        <style>@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Noto+Serif+JP&display=swap');</style>
        <!-- FontAwesomeアニメーション -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    </head>

    <body>
        <div class="back">
            <!-- ヘッダー -->
            <%= render "layouts/header" %>
            <!-- メッセージ -->
            <div id="flash"><%= render "layouts/message" %></div>
            <!-- メイン部分 -->
            <div class="container"><%= yield %></div>
            <style> body {font-family: 'Noto Serif JP', serif;} h1{font-size: 4vw;} h2{font-size: 3vw;} h3{font-size: 2vw;}</style>
            <!-- フッター -->
            <%= render "layouts/footer" %>
            <!-- bootstrap4導入(CDN) -->
            <%#= render "layouts/bootstrap-cdn" %>
        </div>
    </body>
</html>
