<!DOCTYPE html>
<html>
  <head>
    <title>Tripper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/168debbf27.js" crossorigin="anonymous"></script>
    <!-- GoogleAPI -->
    <script src="http://maps.google.com/maps/api/js?key=<%= ENV['GOOGLEMAP_KEY'] %>&callback=getLatLng" async defer></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- ヘッダー -->
    <header>
      <!-- 管理者 -->
      <% if admin_signed_in? %>
        <div>管理者</div>
        <div><%= link_to "退出",destroy_admin_session_path,method: :delete %></div>
      <!-- ログインユーザー -->
      <% elsif user_signed_in? %>
        <div><%= attachment_image_tag current_user, :profile_image, :fill, 70, 70, format: "jpeg", fallback: "no_image.jpg",size:70 ,class: "current_user_image" %></div>
        <div><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></div>
        <div><%= link_to "アバウト",about_path %></div>
        <div><%= link_to "マイページ",user_path(current_user.id) %></div>
        <div><%= link_to "トップへ",root_path %></div>
      <% else %>
        <div>ようこそ！ゲストユーザー様</div>
        <div><%= link_to "ログイン",new_user_session_path %></div>
        <div><%= link_to "新規登録",new_user_registration_path %></div>
        <div><%= link_to "アバウト",about_path %></div>
        <div><%= link_to "トップへ",root_path %></div>
      <% end %>
    </header>

    <div class="content"><%= yield %></div>

      <footer >
        <% if user_signed_in? %>
          <%= link_to posts_path do %>
            <i class="fas fa-home fa-3x" style="color: blue;"></i>
          <% end %>
          <%= link_to favorites_path do %>
            <i class="fas fa-star fa-3x" style="color: yellow;"></i>
          <% end %>
          <%= link_to notifications_path do %>
              <% if unchecked_notifications.any? %>
                  <span class="fa-stack">
                    <i class="fas fa-bell fa-3x fa-stack-2x" style="color: blue"></i>
                     <i class="fas fa-circle n-circle fa-stack-1x"></i>
                  </span>
              <% else %>
                  <i class="fas fa-bell fa-3x" style="color: blue"></i>
              <% end %>
          <% end %>
            <!-- <i class="far fa-envelope"></i> -->
          <%= link_to new_post_path do %>
            <i class="fas fa-plus-circle fa-3x"style="color: blue"></i>
          <% end %>
        <% elsif admin_signed_in? %>
            <%= link_to "ユーザー一覧",admin_users_path %>
            <%= link_to "投稿一覧",admin_posts_path %>
            <%= link_to "トップ画面",admin_top_path %>
        <% else %>
            <p>©Tripper Production by Keigo Terada</p>
        <% end %>
      </footer>

  </body>
</html>
