<!DOCTYPE html>
<html>
  <head>
    <title>Tripper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/168debbf27.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header>
      <% if user_signed_in? %>
        <div>
          <%= attachment_image_tag current_user, :profile_image, :fill, 70, 70, format: "jpeg", fallback: "no_image.jpg",size:70 ,class: "current_user_image" %>
        </div>


        <div>
          <%= link_to "ログアウト",destroy_user_session_path,method: :delete %>
        </div>
        <div>
          <%= link_to "アバウト",about_path %>
        </div>
        <div>
          <%= link_to "マイページ",user_path(current_user.id) %>
        </div>
        <div>
          <%= link_to "トップへ",root_path %>
        </div>
      <!-- < elsif admin_signed_in? %> -->
        <!-- <h1>管理者画面です</h1> -->
      <% else %>
        <div>
          <%= link_to "ログイン",new_user_session_path %>
        </div>
        <div>
          <%= link_to "新規登録",new_user_registration_path %>
        </div>
        <div>
          <%= link_to "アバウト",about_path %>
        </div>
        <div>
          <%= link_to "トップへ",root_path %>
        </div>
      <% end %>
    </header>

    <main>
      <div>
        <%= yield %>
      </div>
    </main>

      <footer >
        <% if user_signed_in? %>
          <%= link_to posts_path do %>
            <i class="fas fa-home fa-3x" style="color: blue;"></i>
          <% end %>
          <%= link_to favorites_path do %>
            <i class="fas fa-star fa-3x" style="color: yellow;"></i>
          <% end %>
          <%= link_to "通知" %>
            <!-- <i class="far fa-envelope"></i> -->
          <%= link_to new_post_path do %>
            <i class="fas fa-plus-circle fa-3x"></i>
          <% end %>
        <!-- < elsif admin_signed_in? %> -->
          <!-- <= link_to "ユーザー一覧" %> -->
          <!-- <= link_to "投稿一覧" %> -->
          <!-- <= link_to "トップ画面" %> -->
        <% else %>
          <p>©Tripper Production by Keigo Terada</p>
        <% end %>
      </footer>
  </body>
</html>
